/* styles.css for the single and multiple graph plots*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(static/6379114.jpg);
    background-size:cover;
    background-position:center;
    font-family: sans-serif;
}
.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
width: 120px;
/* height:50px; */
margin: 15px;
padding: 15px;
/* position:relative; */
}
.menu-bar ul li a{
    text-decoration: none;
    color:white;
    /* display:block;
    padding: 10px; */
}
.active, .menu-bar ul li :hover
{
    background: #2bab0d;
    border-radius: 3px;
}

.menu-bar ul li :hover{
    background:#2bab0d;
    border-radius: 6px;
}
.sub-menu
{
    display: none;
}
.menu-bar ul li:hover  .sub-menu
{
    display: block;
    position: absolute;
    background-color: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background:transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
.container {
    margin: 50px auto; /* Center the container on the page */
    max-width: 500px; /* Set a maximum width for the container */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}
